<div *ngIf="pinDefinitions">    
    <div class="actions mb-2">
        <button appButton (click)="removeAll()">Remove all</button>
    </div>
    <div class="table-responsive-sm">
        <table class="table">
            <thead>
                <tr>
                    <th scope="col">#</th>
                    <th scope="col">Name</th>
                    <th scope="col">Mode</th>
                    <th scope="col">No</th>
                    <th scope="col">Port</th>
                    <th scope="col">Type</th>
                    <th scope="col">Actions</th>
                </tr>
            </thead>
            <tbody>
                <tr *ngFor="let pin of pinDefinitions; let i=index;">
                    <th scope="row">{{i+1}}</th>
                    <td>{{pin?.name}}</td>
                    <td>{{pin?.mode}}</td>
                    <td>{{pin?.no}}</td>
                    <td>{{pin?.port}}</td>
                    <td>{{pin?.types |json}}</td>
                    <td> <button mat-icon-button (click)="removePin(pin?.no)">
                            <mat-icon>delete</mat-icon>
                        </button>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>