<div class="container">
    <header class="navbar navbar-expand flex-column flex-md-row bd-navbar">
        <a class="navbar-brand mr-0 mr-md-2" routerLink="/" aria-label="Machines Project">
            <app-logo></app-logo>
        </a>
        <div class="navbar-nav-scroll">
            <ul class="navbar-nav bd-navbar-nav flex-row">
                <li class="nav-item" *ngFor="let link of links" routerLinkActive="active"
                    [routerLinkActiveOptions]="{exact:true}">
                    <a class="nav-link "
                        [routerLink]="link?.path?link?.path:'/i/'+currentInstance?._id+'/'+link?.relativePath">{{link?.name}}</a>
                </li>
            </ul>
        </div>
        <ul class="navbar-nav ml-md-auto">
            <li class="nav-item">
                <a class="nav-link" routerLink="/i">
                    <span class="live__container">
                        {{currentInstance?.name}}
                        <svg class="icon sm live" *ngIf="isInstanceLive">
                            <use xlink:href="assets/icons/solid.svg#circle"></use>
                        </svg>
                    </span>

                </a>
            </li>
            <li class="nav-item ml-2">
                <a class="nav-link" [routerLink]="'/account/'+user?.uid">
                    <app-user-avatar [user]="user"></app-user-avatar>
                </a>
            </li>
        </ul>
    </header>
</div>
<router-outlet></router-outlet>