<ng-progress id="headerProgress"></ng-progress>
<router-outlet></router-outlet>

<!-- <div class="container">
    <app-form [formGroup]="form" (onSubmit)="handleSubmit($event)">
        <app-form-field name="username" label="Username" placeholder="Username"
            appearance="outline"></app-form-field>
        <app-form-field name="password" label="Password" type="password" placeholder="Password"
            appearance="outline">           
        </app-form-field>
        <app-form-submit-button></app-form-submit-button>
    </app-form>
</div> -->